.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.chart-horiz {

  .chart {
    width: 90%;

    li {
      display: block;
      height: 23px;
      margin-top: 3px;
      position: relative;

      &:before {
        color: #fff;
        content: attr(title);
        left: 5px;
        position: absolute;
      }

      &.title {
        &:before {
          color: black;
          font-weight: bold;
          left: 0;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      .bar {
        height: 100%;
        min-width: 164px;
      }

      .number {
        font-size:18px;
        font-weight: bold;
        padding-left: 5px;
        position: absolute;
        top: -3px;
      }

      &.current {
        .bar {
          background: black;
        }
        .number {
          color: black;
        }
      }

      &.past {
        .bar {
          background: #666;
        }
        .number {
          color: #666;
        }
      }
    }
  }
}